<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <style type="text/css">
    .MathJax {
      font-size: 3.3em;
    }
    mjx-container {
      font-size: 3.3em;
    }
      .nmathematics: {
          margin-bottom: 10px;
          padding-bottom: 10px;
      }
  </style>



  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- MATHML -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <!-- VUEJS -->
  <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->

  <!-- REACT -->
  <!-- <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->
  <!-- Don't use this in production: -->
  <!-- <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> -->

  <!-- OPENCV -->
  <script type="text/javascript">
    var q = [];
    var initialized = false;
    function onOpenCvReady()
    {
      cv['onRuntimeInitialized'] = () => {
        initialized = true;
        if(q && q.length > 0)
        {
          q.forEach(f => f());
          q = undefined;
        }
      };
    }
    function dispatch(f)
    {
      if(!initialized)
      {
        console.log('dispatch');
        q.push(f);
      }
      else
      {
        console.log('run');
        f();
      }
    }
  </script>
  <!--
  <script async src="/public/js/opencv.js" onload="onOpenCvReady();" type="text/javascript"></script>
  -->
  <!-- GOOGLE CHART -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- WEBRTC -->
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

  <script src="/public/js/three.js"></script>

  <script>
    var _chart = [];
    var initialized = false;
    function googleChartOnLoad() {
      initialized = true;
      if(initialized) {
        if(_chart && _chart.length > 0)
        {
          _chart.forEach(f => f());
        }
      }
    }
    function dispatchChart(f) {
      if(!initialized) {
        _chart.push(f);
      }
      else
      {
        f();
      }
    }
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(googleChartOnLoad);
  </script>
  <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  CommonHTML: {
    scale: 130
  }
});
</script>

</head>
